.page {
  font-family: Roboto, sans-serif;
  color: var(--gallery-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;

  &.modal-film-is-open,
  &.modal-auth-is-open,
  &.modal-developers-is-open {
    overflow: hidden;
  }
}

.btn-light {
  height: 44px;

  color: var(--header-text-color);
  background-color: transparent;
  @include font(500, 12, 1.33, null, uppercase);
}

.btn-accent {
  height: 44px;

  color: var(--header-text-color);
  background-color: var(--accent-text-color);
  @include font(500, 12, 1.33, null, uppercase);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
