body {
  min-height: 100vh;
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  font-family: Roboto, sans-serif;
  color: var(--gallery-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;

  &.modal-film-is-open,
  &.modal-auth-is-open,
  &.modal-developers-is-open {
    overflow: hidden;
  }
}

.btn-light {
  height: 44px;

  color: var(--header-text-color);
  background-color: transparent;
  @include font(500, 12, 1.33, null, uppercase);
}

.btn-accent {
  height: 44px;

  font-family: inherit;
  color: var(--header-text-color);
  background-color: var(--accent-text-color);

  box-shadow: 0px 8px 43px rgb(255 107 1 / 60%);
  @include font(500, 12, 1.33, null, uppercase);
  transition: transform 0.5s linear;

  &:hover,
  &:focus {
    border: 1px solid var(--accent-text-color);
    transform: scale(1.07);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
