@import '~node_modules/modern-normalize/modern-normalize.css';

@import './utils/mixins';
@import './utils/variables';

@import './base/common';
@import './base/reset';
@import './base/container';

@import './layout/header';
@import './layout/gallery';
@import './layout/gallery-watched';
@import './layout/gallery-queue';
@import './layout/footer';

@import './layout/modal_footer';
@import './layout/modal_film';
@import './layout/modal_auth';
@import './layout/modal-trailer';
