:root {
  --header-text-color: #ffffff;
  --gallery-text-color: #000000;
  --accent-text-color: #ff6b08;
  --footer-text-color: #545454;
  --error-text-color: #ff001b;
  --category-text-color: #8c8c8c;

  --bg-color: #e5e5e5;
  --bg-color-footer:#F7F7F7;
}
