<div class="gallery-wrap">
  <div class="container">
    <section class="gallery">
      <ul class="gallery__list">
        <li class="card">
          <a href="">
            <img
              class="card__img"
              src="https://image.tmdb.org/t/p/original/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg"
              alt=""
              width="395"
              height="574"
            />
            <h2 class="card__title">Greyhound</h2>
            <p class="card__description">
              <span class="card__genre">Drama, Action</span> |
              <span class="card__year">2020</span>
              <span class="card__rating">10.0</span>
            </p>
          </a>
        </li>
        <li class="card">
          <a href="">
            <img
              class="card__img"
              src="https://image.tmdb.org/t/p/original/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg"
              alt=""
              width="395"
              height="574"
            />
            <h2 class="card__title">Greyhound</h2>
            <p class="card__description">
              <span class="card__genre">Drama, Action</span> |
              <span class="card__year">2020</span>
              <span class="card__rating">10.0</span>
            </p>
          </a>
        </li>
        <li class="card">
          <a href="">
            <img
              class="card__img"
              src="https://image.tmdb.org/t/p/original/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg"
              alt=""
              width="395"
              height="574"
            />
            <h2 class="card__title">Greyhound</h2>
            <p class="card__description">
              <span class="card__genre">Drama, Action</span> |
              <span class="card__year">2020</span>
              <span class="card__rating">10.0</span>
            </p>
          </a>
        </li>
        <li class="card">
          <a href="">
            <img
              class="card__img"
              src="https://image.tmdb.org/t/p/original/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg"
              alt=""
              width="395"
              height="574"
            />
            <h2 class="card__title">Greyhound</h2>
            <p class="card__description">
              <span class="card__genre">Drama, Action</span> |
              <span class="card__year">2020</span>
              <span class="card__rating">10.0</span>
            </p>
          </a>
        </li>
        <li class="card">
          <a href="">
            <img
              class="card__img"
              src="https://image.tmdb.org/t/p/original/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg"
              alt=""
              width="395"
              height="574"
            />
            <h2 class="card__title">Greyhound</h2>
            <p class="card__description">
              <span class="card__genre">Drama, Action</span> |
              <span class="card__year">2020</span>
              <span class="card__rating">10.0</span>
            </p>
          </a>
        </li>
        <li class="card">
          <a href="">
            <img
              class="card__img"
              src="https://image.tmdb.org/t/p/original/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg"
              alt=""
              width="395"
              height="574"
            />
            <h2 class="card__title">Greyhound</h2>
            <p class="card__description">
              <span class="card__genre">Drama, Action</span> |
              <span class="card__year">2020</span>
              <span class="card__rating">10.0</span>
            </p>
          </a>
        </li>
        <li class="card">
          <a href="">
            <img
              class="card__img"
              src="https://image.tmdb.org/t/p/original/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg"
              alt=""
              width="395"
              height="574"
            />
            <h2 class="card__title">Greyhound</h2>
            <p class="card__description">
              <span class="card__genre">Drama, Action</span> |
              <span class="card__year">2020</span>
              <span class="card__rating">10.0</span>
            </p>
          </a>
        </li>
        <li class="card">
          <a href="">
            <img
              class="card__img"
              src="https://image.tmdb.org/t/p/original/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg"
              alt=""
              width="395"
              height="574"
            />
            <h2 class="card__title">Greyhound</h2>
            <p class="card__description">
              <span class="card__genre">Drama, Action</span> |
              <span class="card__year">2020</span>
              <span class="card__rating">10.0</span>
            </p>
          </a>
        </li>
        <li class="card">
          <a class="card__link" href="">
            <img
              class="card__img"
              src="https://image.tmdb.org/t/p/original/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg"
              alt=""
              width="395"
              height="574"
            />
            <h2 class="card__title">Greyhound</h2>
            <p class="card__description">
              <span class="card__genre">Drama, Action</span> |
              <span class="card__year">2020</span>
              <span class="card__rating">10.0</span>
            </p>
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>
