<div class="backdrop developers is-hidden">
  <div class="developers modal">
    <div class="modal-wrapper">
      <svg class="modal-logo">
        <use href="/src/images/sprite.svg#icon-logo-goit"></use>
      </svg>
      <p class="modal-title">Team Anonymous</p>
      <button
        type="button"
        class="close-footer-modal"
        aria-label="close modal button"
      >
        <svg width="20" height="20">
          <use href="/src/images/sprite.svg#icon-close-modal"></use>
        </svg>
      </button>
    </div>
    <!-- List -->
    <ul class="card-list">
      <!-- Card -->
      <li class="card-link">
        <img
          class="photo-teammate"
          srcset="
            /src/images/NadiaKhoptiuk-1x.jpg 1x,
            /src/images/NadiaKhoptiuk-2x.jpg 2x,
            /src/images/NadiaKhoptiuk-3x.jpg 3x
          "
          src="/src/images/NadiaKhoptiuk.jpg"
          alt="Nadia Khoptiuk photo"
        />
        <!-- <picture>
          <source srcset="./images/NadiaKhoptiuk 1x" type="image/webp" />
          <source
            srcset="
              ./images/NadiaKhoptiuk-1x.jpg 1x,
              ./images/NadiaKhoptiuk-2x.jpg 2x,
              ./images/NadiaKhoptiuk-3x.jpg 3x
            " type="image/jpeg"
          />
          <img
            class="photo-teammate"
              
            src="./images/NadiaKhoptiuk.jpg"

            alt="Nadia Khoptiuk photo"
          />
        </picture> -->
        <div class="card-info">
          <p class="card-info__title">Nadia Khoptiuk</p>
          <p class="card-info__pretitle">Team Lead</p>
          <ul class="socials-link__list">
            <li>
              <a
                aria-label="github-link"
                href="https://github.com/nadiakhoptiuk"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg">
                  <use href="/src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                aria-label="linkedin-link"
                href="https://www.linkedin.com/in/nadiia-khoptiuk-5b081a239/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg">
                  <use href="/src/images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Card -->
      <li class="card-link">
        <img
          class="photo-teammate"
          srcset="
            /src/images/AlexanderPustosmekhov-1x.jpg 1x,
            /src/images/AlexanderPustosmekhov-2x.jpg 2x,
            /src/images/AlexanderPustosmekhov-3x.jpg 3x
          "
          src="/src/images/AlexanderPustosmekhov.jpg"
          alt="Alexander Pustosmekhov photo"
        />
        <div class="card-info">
          <p class="card-info__title">Alexander Pustosmekhov</p>
          <p class="card-info__pretitle">Scrum Master</p>
          <ul class="socials-link__list">
            <li>
              <a
                aria-label="github-link"
                href="https://github.com/Alexander-Pustosmekhov"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg">
                  <use href="/src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                aria-label="linkedin-link"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg">
                  <use href="/src/images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Card -->
      <li class="card-link">
        <img
          class="photo-teammate"
          srcset="
            /src/images/AlinaLemishko-1x.jpg 1x,
            /src/images/AlinaLemishko-2x.jpg 2x,
            /src/images/AlinaLemishko-3x.jpg 3x
          "
          src="/src/images/AlinaLemishko.jpg"
          alt="Alina Lemishko photo"
        />
        <div class="card-info">
          <p class="card-info__title">Alina Lemishko</p>
          <p class="card-info__pretitle">Developer</p>
          <ul class="socials-link__list">
            <li>
              <a
                aria-label="github-link"
                href="https://github.com/Alina-Lemishko"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg">
                  <use href="/src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                aria-label="linkedin-link"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg">
                  <use href="/src/images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Card -->
      <li class="card-link">
        <img
          class="photo-teammate"
          src="/src/images/Anonymous1.jpg"
          alt="Rostyslav Vaskovskiy photo"
        />
        <div class="card-info">
          <p class="card-info__title">Rostyslav Vasykovskiy</p>
          <p class="card-info__pretitle">Developer</p>
          <ul class="socials-link__list">
            <li>
              <a
                aria-label="github-link"
                href="https://github.com/Vaskovskyi"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg">
                  <use href="/src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                aria-label="linkedin-link"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg">
                  <use href="/src/images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Card -->
      <li class="card-link">
        <img
          class="photo-teammate"
          src="/src/images/Anonymous2.jpg"
          alt="Maksym Shumeiko photo"
        />
        <div class="card-info">
          <p class="card-info__title">Maksym Shumeiko</p>
          <p class="card-info__pretitle">Developer</p>
          <ul class="socials-link__list">
            <li>
              <a
                aria-label="github-link"
                href="https://github.com/Lonardo17"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg">
                  <use href="/src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                aria-label="linkedin-link"
                href="https://www.linkedin.com/in/maksym-shumeiko-76b85a242/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg">
                  <use href="/src/images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Card -->
      <li class="card-link">
        <img
          class="photo-teammate"
          srcset="
            /src/images/VolodiaBobanych-1x.jpg 1x,
            /src/images/VolodiaBobanych-2x.jpg 2x,
            /src/images/VolodiaBobanych-3x.jpg 3x
          "
          src="/src/images/VolodiaBobanych.jpg"
          alt="Volodymyr Bobanych photo"
        />
        <div class="card-info">
          <p class="card-info__title">Volodymyr Bobanych</p>
          <p class="card-info__pretitle">Developer</p>
          <ul class="socials-link__list">
            <li>
              <a
                aria-label="github-link"
                href="https://github.com/VollDeMarr"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg">
                  <use href="/src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                aria-label="linkedin-link"
                href="https://www.linkedin.com/in/volodymyrbobanych/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg">
                  <use href="/src/images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
