<div class="backdrop__modal-film" id="html" hidden>
  <div class="modal-film">
    <button type="button" class="modal-film__btn" aria-label="close modal button">
      <svg class="modal-film__close" width="30" height="30">
        <use href="../src/images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-film--padding">
      <div class="modal-film__img-cont"></div>
      <div class="modal-film__style">
        <div class="modal-film--add"></div>
          <div class="modal-film__buttons">
            <button type="button" class="modal-film__to-watched btns btn-accent" id="add-to-watched">add to watched</button>
            <button type="button" class="modal-film__to-queue btns btn-light" id="add-to-queue">add to queue</button>
            <button type="button" class="modal-film__to-trailer btns btn-accent">about the film</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
