<div class="backdrop__modal-film is-hidden">
    <div class="modal-film">
        <!-- <svg class="modal-film__close"><use href=""></use></svg> -->
        <!-- <img src="" alt="" class="modal-film__img"> -->
        <h2 class="modal-film__name">hiii</h2>
        <ul class="modal-film__list-name">
            <li class="modal-film__item-name"></li>
            <li class="modal-film__item-name"></li>
            <li class="modal-film__item-name"></li>
            <li class="modal-film__item-name"></li>
        </ul>
        <ul class="modal-film__list-description">
            <li class="modal-film__item-description"></li>
            <li class="modal-film__item-description"></li>
            <li class="modal-film__item-description"></li>
            <li class="modal-film__item-description"></li>
        </ul>
        <h3 class="modal-film__title">exempl</h3>
        <p class="modal-film__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae exercitationem fuga consequuntur ipsum doloremque amet impedit veniam nisi voluptatem. Natus quae perspiciatis temporibus ex corrupti non, quos sed accusamus libero.</p>
    </div>
</div>