<div class="backdrop__modal-film" id="html" hidden>
  <div class="modal-film">
    <button type="button" class="modal-film__btn">
      <svg class="modal-film__close" width="30" height="30">
        <use href="../src/images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-film--add"></div>
    <img
      src="../src/images/library_bg_img_desktop_1x-min.jpg"
      alt="gigi"
      class="modal-film__img"
    />
    <div>
      <h2 class="modal-film__name">hiii</h2>
      <div class="modal-film__rating">
        <div class="modal-film__list-name">
          <p class="modal-film__item-name">Vote / Votes</p>
          <p class="modal-film__item-name">Popularity</p>
          <p class="modal-film__item-name">Original Title</p>
          <p class="modal-film__item-name">Genre</p>
        </div>
        <div class="modal-film__list-description">
          <p class="modal-film__item-description">
            <span class="modal-film--style">1.1</span> / 1.2
          </p>
          <p class="modal-film__item-description">2</p>
          <p class="modal-film__item-description">3</p>
          <p class="modal-film__item-description">4</p>
        </div>
      </div>
      <h3 class="modal-film__title">exempl</h3>
      <p class="modal-film__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
        exercitationem fuga consequuntur ipsum doloremque amet impedit veniam
        nisi voluptatem. Natus quae perspiciatis temporibus ex corrupti non,
        quos sed accusamus libero.
      </p>
      <div class="modal-film__buttons">
        <button
          type="button"
          class="modal-film__to-watched btn btn-accent"
          id="add-to-watched"
        >
          add to Watched
        </button>
        <button
          type="button"
          class="modal-film__to-queue btn btn-light"
          id="add-to-queue"
        >
          add to queue
        </button>
      </div>
    </div>
  </div>
</div>
