<div class="modal-trailer" id="htmls" hidden>
    <div class="trailer__btn prev">
    <svg class="modal-trailer__btn--prev" width="30" height="30">
        <use href="../src/images/sprite.svg#icon-arrow-chevron-left"></use>
    </svg>
    </div>
    <iframe id="youtube" width="90vw" height="90vh" src="#" frameborder="0" data-value="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        <button class="trailer__btn next">
        <svg class="modal-trailer__btn--next">
            <use href="../src/images/sprite.svg#icon-arrow-chevron-right" class="btn-svg-arrow"></use>
        </svg>
        </button>
        <div class="info-conteiner"><p class="modal-trailer__information2"></p>
    <p class="modal-trailer__information">ukuykukyukuykyuky</p></div>
</div>