<div class="overlay-auth is-hidden">
  <div class="modal-auth">
    <div class="modal-auth__container">
      <button class="modal-auth__btn-close" type="button">
        <svg class="icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal-auth__head">
        <p class="modal-auth__title js-form-auth__title">Registration</p>
        <button class="modal-auth__button js-form__type-switch" type="button">
          sign in
        </button>
      </div>
      <form class="auth-form js-form-auth">
        <label>
          <input
            class="auth-form__input auth-form__input--email js-input__email"
            type="email"
            name="email"
            placeholder="Email"
            required
          />
        </label>
        <label>
          <input
            class="auth-form__input auth-form__input--password js-input__pass"
            type="password"
            name="password"
            min="6"
            max="6"
            placeholder="Password"
            required
          />
        </label>
        <p class="auth-form__text">
          By clicking Registration button, you are indicating that you have read
          and agree to the
          <a class="auth-form__link" href="">Terms of Use</a> and
          <a class="auth-form__link" href="">Privacy Policy</a>.
        </p>
        <button class="auth-form__button js-form__submit" type="submit">
          Register now
        </button>
      </form>
      <div class="auth-form__autorization">
        <p class="auth-form__sign-text">Sign in with:</p>
        <button class="auth-form__button-google js-sign-google">
          <svg width="15" height="15">
            <use href="./images/sprite.svg#google-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
