<div class="backdrop isHide">
  <div class="modal">
    <div class="header-wrapper">
      <svg class="modal-logo">
        <use href="/src/images/sprite.svg#icon-logo-goit"></use>
      </svg>
      <p class="modal-title">Team Anonymous</p>
      <button type="button" class="close-footer-modal">
        <svg width="20" height="20">
          <use href="/src/images/sprite.svg#icon-close-modal"></use>
        </svg>
      </button>
    </div>
    <!-- List -->
    <ul class="card-list">

      <!-- Cards -->
      <li class="card-link">
        <img
          class="photo-teammate"
          src="/src/images/NadiaKhoptiuk.jpg"
          alt="my photo"
        />
        <div class="card-info">
          <p class="card-info__title">Nadia Khoptiuk</p>
          <p class="card-info__pretitle">Team Lead</p>
          <ul class="socials-link__list">
            <li>
              <a
                aria-label="github-link"
                href="https://github.com/VollDeMarr"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg" width="28" height="28">
                  <use href="/src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                aria-label="linkedin-link"
                href="https://www.linkedin.com/in/volodymyrbobanych/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg" width="28" height="28">
                  <use href="/src/images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Cards -->
      <li class="card-link">
        <img
          class="photo-teammate"
          src="/src/images/Anonymous1.jpg"
          alt="my photo"
        />
        <div class="card-info">
          <p class="card-info__title">Alexander Pustosmekhov</p>
          <p class="card-info__pretitle">Scrum Muster</p>
          <ul class="socials-link__list">
            <li>
              <a
                aria-label="github-link"
                href="https://github.com/VollDeMarr"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg" width="28" height="28">
                  <use href="/src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                aria-label="linkedin-link"
                href="https://www.linkedin.com/in/volodymyrbobanych/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg" width="28" height="28">
                  <use href="/src/images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Cards -->
      <li class="card-link">
        <img
          class="photo-teammate"
          src="/src/images/AlinaLemishko.jpg"
          alt="my photo"
        />
        <div class="card-info">
          <p class="card-info__title">Alina Lemishko</p>
          <p class="card-info__pretitle">Developer</p>
          <ul class="socials-link__list">
            <li>
              <a
                aria-label="github-link"
                href="https://github.com/VollDeMarr"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg" width="28" height="28">
                  <use href="/src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                aria-label="linkedin-link"
                href="https://www.linkedin.com/in/volodymyrbobanych/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg" width="28" height="28">
                  <use href="/src/images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Cards -->
      <li class="card-link">
        <img
          class="photo-teammate"
          src="/src/images/Anonymous3.webp"
          alt="my photo"
        />
        <div class="card-info">
          <p class="card-info__title">Rostyslav Vasykovskiy</p>
          <p class="card-info__pretitle">Developer</p>
          <ul class="socials-link__list">
            <li>
              <a
                aria-label="github-link"
                href="https://github.com/VollDeMarr"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg" width="28" height="28">
                  <use href="/src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                aria-label="linkedin-link"
                href="https://www.linkedin.com/in/volodymyrbobanych/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg" width="28" height="28">
                  <use href="/src/images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Cards -->
      <li class="card-link">
        <img
          class="photo-teammate"
          src="/src/images/Anonymous2.jpg"
          alt="my photo"
        />
        <div class="card-info">
          <p class="card-info__title">Maksym Shumeiko</p>
          <p class="card-info__pretitle">Developer</p>
          <ul class="socials-link__list">
            <li>
              <a
                aria-label="github-link"
                href="https://github.com/VollDeMarr"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg" width="28" height="28">
                  <use href="/src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                aria-label="linkedin-link"
                href="https://www.linkedin.com/in/volodymyrbobanych/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg" width="28" height="28">
                  <use href="/src/images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Cards -->
      <li class="card-link">
        <img
          class="photo-teammate"
          src="/src/images/VolodiaBobanych.jpg"
          alt="my photo"
        />
        <div class="card-info">
          <p class="card-info__title">Volodymyr Bobanych</p>
          <p class="card-info__pretitle">Developer</p>
          <ul class="socials-link__list">
            <li>
              <a
                aria-label="github-link"
                href="https://github.com/VollDeMarr"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg" width="28" height="28">
                  <use href="/src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                aria-label="linkedin-link"
                href="https://www.linkedin.com/in/volodymyrbobanych/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social-svg" width="28" height="28">
                  <use href="/src/images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

    </ul>
  </div>
</div>
