<div class="overlay-auth">
  <div class="modal-auth">
    <div class="modal-auth__container">
      <button class="modal-auth__btn-close" type="button">X</button>
      <div class="modal-auth__head">
        <p class="modal-auth__title">Registration</p>
        <button class="modal-auth__button" type="button">sign in</button>
      </div>
      <form class="auth-form" action="">
        <label>
          <input class="auth-form__input" type="mail" name="email" />
        </label>
        <label>
          <input class="auth-form__input" type="text" name="password" />
        </label>
        <p class="auth-form__text">
          By clicking Registration button, you are indicating that you have read
          and agree to the Terms of Use and Privacy Policy.
        </p>
        <button class="auth-form__button">Registration</button>
        <a class="auth-form__link" href="">Sign with Google</a>
      </form>
    </div>
  </div>
</div>
