.footer {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.17;
  background-color: var(--bg-color-footer);
  color: var(--footer-text-color);
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  @include media(768px) {
    font-size: 16px;
  }
}
.footer__svg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-left: 10px;
//   padding-top: 2px;
}
.wrapper {
  align-items: center;
  @include media(768px) {
    width: 744px;
    display: flex;
    justify-content: center;
  }
  @include media(1280px) {
    width: 1256px;
  }
}
.footer__rights {
  text-align: center;
  padding-bottom: 10px;
  @include media(768px) {
    padding-bottom: 0;
  }
}
.footer__developers {
  text-align: center;
  @include media(768px) {
    margin-left: 5px;
  }
}
