.gallery-watched {
  padding: 60px 0;

  &.is-hidden {
    display: none;
  }
}

.no-films-in-list {
  margin: 0 auto;
  @include centeredFlex;
  font-family: inherit;
  @include font(400, 30px, 1.14, null, null);
  color: var(--category-text-color);

  @include media(767px, max-width) {
    display: block;
    width: 280px;
  }
}

.gallery-watched__list {
  @include media(768px, min-width) {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: -32px;
    margin-bottom: -32px;
  }

  @include media(1280px, min-width) {
    margin-right: -16px;
  }
}
