.gallery {
  @include media(767px, max-width) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  @include media(768px, min-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__list {
    @include media(768px, min-width) {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin-right: -32px;
      margin-bottom: -32px;
    }

    @include media(1280px, min-width) {
      margin-right: -16px;
    }
  }

  &.is-hidden {
    display: none;
  }
}

.img-thumb {
  width: 280px;
  height: 398px;
  overflow: hidden;
  border-radius: 5px;

  @include media(768px, min-width) {
    width: 336px;
    height: 455px;
  }

  @include media(1280px, min-width) {
    width: 395px;
    height: 574px;
  }
}

.card {
  position: relative;
  padding-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.5s linear;

  &:not(:last-child) {
    @include media(767px, max-width) {
      margin-bottom: 20px;
    }
  }

  @include media(768px, min-width) {
    width: calc(100% / 2 - 32px);
    margin-right: 32px;
    margin-bottom: 32px;
  }

  @include media(1280px, min-width) {
    width: calc(100% / 3 - 16px);
    margin-right: 16px;
  }

  &:hover,
  &:focus {
    box-shadow: 2px 7px 27px -5px var(--category-text-color);
    transform: scale(1.01);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    @include font(500, 12px, 1.33, null, uppercase);
    color: var(--gallery-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    margin-top: 8px;

    @include media(1280px, min-width) {
      margin-top: 12px;
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__description {
    font-family: 'Roboto';
    @include font(500, 12px, 1.33, null, null);
    display: flex;
    align-items: center;
    color: var(--accent-text-color);
    padding-left: 5px;

    @include media(1280px, min-width) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__rating {
    display: block;
    width: 36px;
    height: 16px;
    background-color: var(--accent-text-color);
    @include centeredFlex;
    font-family: 'Roboto';
    @include font(500, 12px, 1.16, null, null);
    text-align: center;
    margin-left: 8px;
    color: var(--header-text-color);
    border-radius: 5px;

    @include media(1280px, min-width) {
      width: 40px;
      height: 20px;
      line-height: 1.16;
    }
  }
}

.card-link:focus-visible {
  outline: none;
}

.card-link:focus-visible::before {
  outline: 2px solid var(--accent-text-color);
  outline-offset: -2px;
}

.card-link::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  pointer-events: none;
  background-color: var(--category-text-color);
  opacity: 0.9;
  font-size: 12px;
  color: var(--header-text-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 180px;
  top: -70%;
  left: 20%;
  margin-left: -50px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.pagination-wrapper {
  @include media(767px, max-width) {
    width: 300px !important;
    margin-top: 40px;
  }
  margin-top: 60px;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background-color: var(--accent-text-color) !important;
}

.tui-pagination .tui-page-btn {
  @include media(767px, max-width) {
    width: 25px !important;
    height: 25px !important;
  }
  width: 40px !important;
  height: 40px !important;
  border: none !important;
  border-radius: 5px !important;
  font-family: inherit !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 1.33 !important;
  display: inline-flex !important;
  position: relative !important;
  align-items: center !important;
  justify-content: center !important;
}

.tui-pagination .tui-next-is-ellip {
  border: none !important;
}

.tui-pagination .tui-first,
.tui-pagination .tui-last,
.tui-pagination .tui-next,
.tui-pagination .tui-next-is-ellip,
.tui-pagination .tui-prev,
.tui-pagination .tui-prev-is-ellip {
  font-size: 14px;
}

.btn-filter {
  margin-right: 0;
  background-color: var(--header-text-color);
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
  transition: transform 0.5s linear, background-color 0.5s linear;

  @include font(500, 12px, 1.33, null, uppercase);
  @include media(767px, max-width) {
    min-width: 65px;
    height: 25px;
    @include font(500, 8px, 1.33, null, uppercase);
  }

  &:hover,
  &:focus {
    transform: scale(1.07);
    background-color: var(--accent-text-color);
    color: var(--header-text-color);
    border: 1px solid var(--header-text-color);
  }
}

.btn-list {
  display: flex;
}

.btn-list__item {
  &:not(:last-child) {
    @include media(767px, max-width) {
      margin-right: 8px;
    }
    margin-right: 15px;
  }
}

.button-wrap {
  margin-bottom: 20px;
}

.btn-accent {
  box-shadow: 0px 8px 43px rgb(255 107 1 / 60%);
  background-color: var(--accent-text-color);
  color: var(--header-text-color);
  transform: scale(1.07);
}

.load-more {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 0;
}

.error-text {
    margin: 0 auto;
  @include centeredFlex;
  font-family: inherit;
  @include font(400, 30px, 1.14, null, null);
  color: var(--category-text-color);

  @include media(767px, max-width) {
    display: block;
    width: 280px;
  }
}

.back-to-top-btn {
  @include media(767px, max-width) {
    width: 35px;
    height: 35px;
    right: 15px;
    bottom: 15px;
  }
  width: 45px;
  height: 45px;
  border-radius: 40%;
  border: 1px solid var(--accent-text-color);
  background-color: var(--header-text-color);
  color: var(--accent-text-color);
  box-shadow: 0px 0px 23px -3px rgba(245, 132, 47, 0.67);
  font-size: 18px;
  transform: rotate(270deg);
  transition: background-color 0.5s linear;

  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;

  &:hover {
    border: 1px solid var(--header-text-color);
    background-color: var(--accent-text-color);
    color: var(--header-text-color);
    box-shadow: 0px 0px 50px 4px rgba(245, 132, 47, 0.67);
  }
}
