.gallery {
  @include media(767px, max-width) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  @include media(768px, min-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__list {
    @include media(768px, min-width) {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin-right: -32px;
      margin-bottom: -32px;
    }

    @include media(1280px, min-width) {
      margin-right: -16px;
    }
  }
}

.card {
  &:not(:last-child) {
    @include media(767px, max-width) {
      margin-bottom: 20px;
    }
  }

  @include media(768px, min-width) {
    width: calc(100% / 2 - 32px);
    margin-right: 32px;
    margin-bottom: 32px;
  }

  @include media(1280px, min-width) {
    width: calc(100% / 3 - 16px);
    margin-right: 16px;
  }

  &__img {
    width: 280px;
    height: 398px;
    border-radius: 5px;
    margin-bottom: 8px;

    @include media(768px, min-width) {
      width: 336px;
      height: 455px;
    }

    @include media(1280px, min-width) {
      margin-bottom: 12px;
      width: 394px;
      height: 574px;
    }
  }

  &__title {
    font-family: 'Roboto';
    @include font(500, 12px, 1.33, null, uppercase);
    color: var(--gallery-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media(1280px, min-width) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__description {
    font-family: 'Roboto';
    @include font(500, 12px, 1.33, null, null);
    display: flex;
    align-items: flex-end;
    color: var( --accent-text-color);

    @include media(1280px, min-width) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__rating {
    display: block;
    width: 36px;
    height: 16px;
    background-color: var( --accent-text-color);
    @include centeredFlex;
    font-family: 'Roboto';
    @include font(500, 12px, 1.16, null, null);
    text-align: center;
    margin-left: 8px;
    color: var(--header-text-color);
    border-radius: 5px;

    @include media(1280px, min-width) {
      width: 40px;
      height: 20px;
      line-height: 1.16;
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var( --accent-text-color);
  opacity: 0.9;
  color: var(--header-text-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 240px;
  top: 100%;
  left: 20%;
  margin-left: -50px; 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.pagination-wrapper{
  margin-top: 60px;
}

.tui-pagination .tui-is-selected, .tui-pagination strong{
  background-color: var( --accent-text-color) !important;
}

.tui-pagination .tui-page-btn{
  width: 40px !important;
  height: 40px !important;
  border: none !important;
  border-radius: 5px !important;
  font-family: 'Roboto' !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 1.33 !important;
  display: inline-flex !important;
  position: relative !important;
  align-items: center !important;
  justify-content: center !important;
}

.tui-pagination .tui-next-is-ellip{
  border: none !important;
}

.tui-pagination .tui-first, .tui-pagination .tui-last, .tui-pagination .tui-next, .tui-pagination .tui-next-is-ellip, .tui-pagination .tui-prev, .tui-pagination .tui-prev-is-ellip{
  font-size: 14px;
}