.gallery-queue__list {
  @include media(768px, min-width) {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: -32px;
    margin-bottom: -32px;
  }

  @include media(1280px, min-width) {
    margin-right: -16px;
  }
}
