.header {
  width: 100%;
  max-width: 1280px;
  height: 230px;
  padding-top: 40px;
  margin: 0 auto;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url('../images/main_bg_img_mobile_1x-min.jpeg');

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/main_bg_img_mobile_2x-min.jpeg');
  }

  @media screen and (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url('../images/main_bg_img_mobile_3x-min.jpeg');
  }

  @include media(768px, min-width) {
    height: 216px;
    background-image: url('../images/main_bg_img_tablet_1x-min.jpeg');

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/main_bg_img_tablet_2x-min.jpeg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/main_bg_img_tablet_3x-min.jpeg');
    }
  }

  @include media(1280px, min-width) {
    background-image: url('../images/main_bg_img_desktop_1x-min.jpeg');

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/main_bg_img_desktop_2x-min.jpeg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/main_bg_img_desktop_3x-min.jpeg');
    }
  }
}

.header-container-my-library {
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/library_bg_img_mobile_1x-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @include media(768px, min-width) {
    height: 216px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/library_bg_img_tablet_1x-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include media(1280px, min-width) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/library_bg_img_desktop_1x-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo_header {
  display: none;
  color: var(--header-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-shadow: 2px 0px 10px rgba(255, 255, 255, 0.5);
  line-height: calc(35 / 30);

  @include media(768px) {
    display: block;
  }

  @include media(1280px) {
    display: block;
  }
}

.logo-svg {
  margin-right: 10px;
  stroke: var(--header-text-color);
}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-nav-container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-menu {
  display: flex;
  color: var(--header-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
}

.navbar-item_link,
.navbar-item_btn {
  min-width: max-content;
  padding: 10px 0;
  text-transform: uppercase;
  color: var(--header-text-color);
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-link--current {
  position: relative;
}

.nav-link--current::after {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 3px;
  content: '';
  background-color: var(--error-text-color);
}

.sign_out_wrap {
  margin-left: 40px;

  &.is-hidden {
    margin-left: 0;

    & button {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}

.navbar-item_wrap:not(:last-child) {
  margin-right: 40px;
}

.search-container {
  position: relative;
  margin-top: 60px;

  @include centeredFlex;

  @include media(768px) {
    margin-top: 40px;
  }

  @include media(1280px) {
    margin-top: 40px;
  }
}

.search-form {
  position: relative;
  width: 280px;

  @include media(768px) {
    width: 336px;
  }

  @include media(1280px) {
    width: 394px;
  }
}

.input-box {
  width: 100%;
  padding: 0 0 4px 0;

  color: var(--header-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);

  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--header-text-color);

  &::placeholder {
    color: var(--header-text-color);
  }
}

.search-btn {
  position: absolute;
  right: -10px;
  bottom: -5px;
  padding: 10px;

  border: transparent;
  background-color: transparent;
}

.btns-container {
  @include centeredFlex;
}

.button {
  min-width: 130px;
  height: 44px;
  transform: scale(1);

  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  border-radius: 5px;
  border: 1px solid var(--header-text-color);
  text-transform: uppercase;
  background-color: transparent;
  color: var(--header-text-color);

  transition: transform 200ms ease-in-out;

  @include centeredFlex;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 20px;
  }

  @include media(768px) {
    &:not(:last-child) {
      margin-right: 32px;
    }
    min-width: 152px;
  }

  @include media(1280px) {
    &:not(:last-child) {
      margin-right: 16px;
    }
    min-width: 148px;
    height: 42px;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.active {
  background-color: var(--accent-text-color);
  box-shadow: 0px 8px 43px rgb(255 107 1 / 60%);

  border: none;
}

.form-text {
  position: absolute;
  top: 30px;
  @include centeredFlex;
  font-family: inherit;
  @include font(400, 14px, 1.14, null, null);
  color: var(--error-text-color);

  @include media(767px, max-width) {
    display: block;
    width: 280px;
  }
}
