.header-container {
  margin: 0 auto;
  //padding: 0;
  height: 230px;
  background-image: url('../images/main_bg_img_mobile_1x-min.jpeg');
  // background-image: -webkit-image-set(url('../images/main_bg_img_desktop_1x-min.jpeg') 1x,
  //     url('../images/main_bg_img_desktop_2x-min.jpeg') 2x);
  background-repeat: no-repeat;
  background-size: cover;

  @include media(768px) {
    height: 216px;
    background-image: url('../images/main_bg_img_tablet_1x-min.jpeg');
    background-image: -webkit-image-set(
      url('../images/main_bg_img_tablet_1x-min.jpeg') 1x,
      url('../images/main_bg_img_tablet_2x-min.jpeg') 2x
    );
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include media(1280px) {
    background-image: url('../images/main_bg_img_desktop_1x-min.jpeg');
    background-image: -webkit-image-set(
      url('../images/main_bg_img_desktop_1x-min.jpeg') 1x,
      url('../images/main_bg_img_desktop_2x-min.jpeg') 2x
    );
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.logo {
  display: block;
  width: 100%;
}

.logo_header {
  color: var(--header-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: calc(35 / 30);
  display: none;

  @include media(768px) {
    display: inline;
  }

  @include media(1280px) {
    display: inline;
  }
}

.logo-svg {
  margin-right: 10px;
  stroke: var(--header-text-color);
}

.menu-container {
  //margin: 0;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-nav-container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-menu {
  display: flex;
  color: var(--header-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
}

.navbar-item_link,
.navbar-item_btn {
  min-width: max-content;
  padding: 10px 0;
  text-transform: uppercase;
  color: var(--header-text-color);
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-link--current {
  position: relative;
}

.nav-link--current::after {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 3px;
  content: '';
  background-color: var(--error-text-color);
}

.sign_out_wrap {
  margin-left: 40px;

  &.is-hidden {
    margin-left: 0;

    & button {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}

.navbar-item_wrap:not(:last-child) {
  margin-right: 40px;
}

.search-container {
  margin-top: 60px;

  @include centeredFlex;

  @include media(768px) {
    margin-top: 40px;
  }

  @include media(1280px) {
    margin-top: 40px;
  }
}

.search-form {
  position: absolute;
  transition: background-color 1s ease-in-out;

  &::after {
    position: absolute;
    bottom: -1px;

    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--header-text-color);
  }
}

.input-box {
  background: none;
  outline: none;
  border: none;
  padding: 0 0 4px 0;
  width: 260px;
  color: var(--header-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
}

::placeholder {
  color: var(--header-text-color);
}

.search-btn {
  width: 24px;
  height: 24px;
  border: transparent;
  background-color: transparent;
}

.btns-container {
  @include centeredFlex;
}

.button + .button {
  margin-left: 20px;
}

.button {
  border: 1px solid var(--header-text-color);
  background-color: transparent;
  color: var(--header-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  border-radius: 5px;
  min-width: 130px;
  height: 44px;

  @include centeredFlex;
  cursor: pointer;

  @include media(768px) {
    margin-right: 32px;
    min-width: 152px;
  }

  @include media(1280px) {
    margin-right: 16px;
    min-width: 148px;
    height: 42px;
  }
}

.active {
  background-color: var(--accent-text-color);
  border: none;
}
