.modal-trailer{
// width: 100%;
    &__btn{
     
        &--prev{
            
            fill: aqua;
        }
        &--next{
            
            stroke: aquamarine;
        }
    }
}
.trailer__btn{
    position: fixed;
    top: 10%;
    height: 90vh;
    &.prev{
        left:-30px;
    }
    &.next{
        right: -30px;
    }
    }
   

#youtube{
    width: 90vw;
    height: 90vh;
}