.page.hidden {
  overflow: hidden;
}
.isHide {
  display: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: var(--header-text-color);
  border-radius: 5px;
  display: inline-block;
}
.modal-title {
  text-align: center;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.socials-link__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.card-list {
  display: flex;
  gap: 15px;
}
.card-info {
  padding: 5px;
}
// .card-link {
//   border: 1px solid rgba(73, 68, 68, 0.3);
// }
// .card-link:hover {
//   border: 1px solid var(--accent-text-color);
// }
.card-info__pretitle {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.close-footer-modal {
  position: absolute;
  top: 8px;
  right: 8px;
}
.close-footer-modal:hover {
  fill: var(--accent-text-color);
}

.social-svg {
  transition-duration: 300ms;
}
.social-svg:hover,
.social-svg:focus {
  transform: scale(1.3);
}
