.developers.is-hidden {
  display: none;
}
.developers.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 260px;
  transform: translate(-50%, -50%);
  padding: 10px;
  padding-top: 0px;
  background-color: var(--header-text-color);
  border-radius: 5px;
  display: block;
  overflow-y: scroll;
  @include media(768px) {
    width: 600px;
  }
  @include media(1280px) {
    width: 650px;
    height: 600px;
    overflow: auto;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-wrapper {
  position: sticky;
  padding: 10px;

  top: 0%;
  background-color: var(--header-text-color);
  @include media(1280px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.modal-logo {
  width: 48px;
  height: 28px;
  display: flex;
  margin: auto;
  @include media(1280px) {
    margin: 0;
  }
}
.modal-title {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 5px;
  @include media(768px) {
    font-size: 28px;
  }
  @include media(1280px) {
    font-size: 30px;
    margin-left: 15px;
  }
}
.close-footer-modal {
  position: absolute;
  top: 8px;
  right: 0;
  @include media(1280px) {
    top: 10px;
    right: 10px;
  }
}
.close-footer-modal:hover {
  fill: var(--accent-text-color);
}
.card-list {
  @include media(768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.card-link_footer {
  width: 235px;
  height: 100%;
  margin: 0 auto 10px;
  @include media(768px) {
    width: 250px;
  }
  @include media(1280px) {
    width: 200px;
  }
}
.photo-teammate {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  @include media(768px) {
    width: 277px;
    height: 300px;
  }
  @include media(1280px) {
    width: 130px;
    height: 160px;
    margin: auto;
  }
}
.card-info__title {
  text-align: center;
  font-size: 22px;
  margin-top: 10px;
  @include media(768px) {
    font-size: 20px;
  }
  @include media(1280px) {
    font-size: 16px;
  }
}
.card-info__pretitle {
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--accent-text-color);
  @include media(768px) {
    font-size: 18px;
  }
  @include media(1280px) {
    font-size: 14px;
  }
}
.socials-link__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-svg {
  transition: transform 0.5s linear;
  width: 28px;
  height: 28px;
  @include media(1280px) {
    width: 26px;
    height: 26px;
  }
}
.social-svg:hover,
.social-svg:focus {
  transform: scale(1.3);
}
